@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@400;600&display=swap');

$link_color: #F25C05;

$font_custom_1: 'Oswald', sans-serif;
$font_custom_2: 'Montserrat', sans-serif;

$custom_color_1: #0597F2;
$custom_color_2: #2955D9;
$custom_color_3: #977EF2;